<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/fox.png">
    <link rel="stylesheet" href="/inf.css">
    <title>Information</title>
</head>
<body>
    <div class="content"> 
        <div class="holder">
            <h1 class="Title">File Data</h1>
            <h1><span class="word">File name: </span><%=name%></h1>
            <h1><span class="word">Format: </span><%=format%></h1>
            <h1><span class="word">Size: </span><%=size%></h1>
            <h1><span class="word">Created on: </span><%=time%></h1>
        </div>
    </div>
</body>
</html>