@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: rgb(254, 255, 218);
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    gap: 10px;
    overflow: hidden;
}
.title h1{
    font-size: 35px;
    margin: 0;
}
.title img{
    height: 80%;
    object-fit: cover;
}
.fileL{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 215, 146);
    width: 100%;
    border: 2px solid black;
}
.file{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 215, 146);
    width: 100%;
    border: 2px solid black;
}
.fileBTN, .fileBTNL{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 215, 146);
    align-items: center;
    width: 100%;
    border: none;
    width: 100%;
}
.fileBTNL{
    background-color: rgb(180, 244, 255)   ;
}
.endL{
    display: flex;
    flex-direction: row;
}
.fileBTN:hover{
    background-color: rgb(255, 236, 203);
}
.file h2, .fileL h2{
    padding-left: 15px;
}
.endL h2{
    color: black;
    font-size: 25px;
    padding-left: 15px;
}
.endL{
    color: black;
    font-size: 24px;
    padding: 17px;
    display: inline-block;
  }
.endL::after {
    content: ".";
    animation: dots 1.5s steps(5, end) infinite;
  }
  @keyframes dots {
    0% { content: "Loading.";}
    25% { content: "Loading..";}
    50% { content: "Loading...";}
    75% { content: "Loading..";}
    100% { content: "Loading.";}
  }


.file .end{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.file .end img:hover{
    pointer-events: auto;
    cursor: pointer;
    transform: scale(1.2);
}
#openDialogBtn{
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color: transparent;
    background-color: rgb(255, 215, 146);
    border-radius: 75px;
    border: none;
}
#openDialogBtn:hover{
    cursor: pointer;
    background-color: rgb(245, 220, 112);  
}
#openDialogBtn img{
    height: 105%;
}
.path{
    display: flex;
    flex-direction: row;
}

.folderMenu{
    background-color: rgb(245, 220, 112);  
    position: absolute;  
    top: 50px;
    left: 20px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    display: none;  
}
.TITLE{
    font-size: 35px;
    width: 100%;
}
.TITLE{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.ICONS{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    height: 350px;
}
.ICONS img{
    height: 50%;
    object-fit: cover;
}
.slogan{
    text-align: center;
}
.btns{
    margin: 45px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.btns button{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #ffc536;
    border: 0;
    box-shadow: 0px 0px 15px 3px rgba(141, 141, 141, 0.315);
  }
.btns button:hover, .logout:hover{
    cursor: pointer;
    color: #ffc536;
    background-color: #ffff;
}
.logout{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 23px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    background-color: #ffc536;
    border: 0;
    box-shadow: 0px 0px 15px 3px rgba(141, 141, 141, 0.315);
}
.formLogout{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}